@import "./App.scss";
@import "./base/colors.scss";

body {
  font-family: $font-family;
  background-color: $clr-bg;
}

a {
  color: $clr-text-btn;
  font-weight: bold;
  text-decoration: none;
}

// a:hover {
//   border-bottom: 1px solid $clr-text-btn;
// }

ul {
  list-style: none;
  padding: 0;
}

input {
  width: 100%;
  border-radius: 2rem;
  font-size: 16px;
  padding: 0.5rem 1rem;
  font-family: $font-family;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: $clr-bg-btn;
  text-transform: uppercase;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  width: 80%;
  margin: 0 auto;
}

p {
  font-size: 16px;
}

.hero {
  background-image: url(../assets/HeroImagemd.png);
  background-size: cover;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  color: $clr-bg;
  padding: 4rem 0 8rem;

  &__text {
    width: 35%;
    min-width: 170px;

    p {
      margin-top: 0;
    }

    img {
      width: 170px;
    }

    &--input {
      position: relative;
      margin-top: 2rem;

      input {
        border: 1px solid $clr-bg;
        background-color: $clr-bg;
      }

      button {
        position: absolute;
        top: 10px;
        right: -20px;
        font-size: 20px;
        color: black;
      }
    }
  }
}

.popular {
  transform: translateY(-1rem);
  background-color: $clr-bg2;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  padding: 1rem 0 4rem;
  color: $clr-text;

  &__text {
    &--grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1rem;
    }

    h2 {
      margin: 0;
    }

    button {
      grid-column: 4 / 5;
      align-self: end;
      justify-self: end;
    }
  }
}

.main {
  padding: 4rem 0;
  .flex {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  &__text {
    width: 50%;
    max-width: 380px;
  }

  &__images {
    margin: 0 auto;
  }
}

.footer {
  background-color: black;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  color: $clr-bg;
  padding: 1rem 0;

  &__text {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 800px) {
  .hero {
    background-image: url(../assets/HeroImagesm.png);
    padding: 2rem 0 4rem;
  }

  .popular {
    &__text {
      &--grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
      }
      button {
        grid-column: auto;
      }
    }
  }

  .main {
    padding: 0 0 2rem;

    &__text {
      width: 100%;
    }

    .flex {
      flex-direction: column;
    }
  }
}
